<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>志愿助手</title>
    <style>
        /* 居中样式 */
        /* body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
        } */
        body {
            width: 20%;
            /* height: 20%; */
            margin: 0 auto;
            top: 20%;
            position: relative;
            background-color: #ccc;
        }
    </style>
</head>
<body>
    <h1>志愿助手</h1>
    <div class="container">
        <div class="search">
            <input type="text" placeholder="请输入搜索内容...">
            <button>搜索</button>
            <div class="options">
                <select>
                    <option>选择省份</option>
                    <option>北京</option>
                    <option>上海</option>
                    <option>广东</option>
                </select>
                <input type="text" placeholder="输入年份...">
            </div>
        </div>
        <div class="tags">
            <button>院校</button>
            <button>专业</button>
            <button>分数段</button>
        </div>
    </div>
</body>
</html>